@using SoftwareInstallationClientApp;
@model List<TestViewModelView>

@{
    ViewData["Title"] = "тесты";
}
<div>
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
                        </li>
                        <li class="list-group-item">теория для изучения: @item.theory.name</li>
                        <li class="list-group-item">Время изучения: @Html.DisplayFor(modelItem => item.complition_time)</li>
                        <li class="list-group-item">Количество попыток: @Html.DisplayFor(modelItem => item.count_attempts)</li>
                        <li class="list-group-item">Количество вопросов: @Html.DisplayFor(modelItem => item.questions.Count)</li>
                        <li class="list-group-item">id теста: @Html.DisplayFor(modelItem => item.id)</li>

                        <li class="list-group-item">
                            <a asp-action="PassingTest" asp-route-id="@item.id" class="btn btn-primary">Пройти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>