@using WebApp;
@model List<TheoryViewModel>

@{
    ViewData["Title"] = "Теория";
}
<div>
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>

<div class="row">

@foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
                        </li>
                        <li class="list-group-item">Время изучения: @Html.DisplayFor(modelItem => item.study_time)</li>
                        <li class="list-group-item">Количество Глав: @Html.DisplayFor(modelItem => item.chapters.Count)</li>
                        <li class="list-group-item">
                            <a asp-action="ViewTheory" asp-route-id="@item.id" class="btn btn-primary">Просмотр</a>
                            <a asp-action="UpdateTheory" asp-route-id="@item.id" class="btn btn-primary">Редактирование</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>