@using WebApp;
@model ResultViewModel

@{
    ViewData["Title"] = "Результат теста";
}
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<div>
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>
<div class="row ">
    <div class="input-group">
        <label class="col-2">Название Теста: </label>
        <input class="col-10" type="text" value="@Model.name_test" readonly class="form-control">
        <label class="col-2">Тест был пройден за: </label>
        <input class="col-10" type="text" value="@Model.complition_time" readonly class="form-control">
        <label class="col-2" >вы набрали : </label>
        <input class="col-10" type="text" value="@Model.mark" readonly class="form-control">
        <label class="col-2">из : </label>
        <input class="col-10" type="text" value="@Model.all_mark" readonly class="form-control">
    </div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div class="col-12 mb-3">
            <input class="w-100" type="submit" value="Продолжить" />
        </div>
    }

    <form asp-controller="Test" asp-action="SendOnMail" method="post">
        <div class="input-group">

            <label class="col-2">Почта : </label>
            <input class="col-10" type="email" name="email" class="form-control">
            <label class="col-2">Примечание: </label>
            <input class="col-10" type="text" name="annotation" class="form-control">
            <div class="col-12">
                <input class="w-100" type="submit" value="Сохранить на почту" />
            </div>
        </div>
    </form>
</div>

